body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.heading {
  color: white;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 5px solid cyan;
}

.input {
  display: flex;
  color: white;
}

.button {
  display: flex;
  width: 100%;
  
}

.row {
  display: flex;
  flex-direction: column;
  border: 1px solid cyan;
}

.col {
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 5px;
  border: 1px solid gray;
  background-color: whitesmoke;
  
}

textarea {
  width: 220px;
  height: 100px;
  font-size: 2.5rem;
  text-align: right;
  color: white;
  background-color: #312cbf;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#inputArea {
  display: flex;
  width: 225px;
}
